 body:not([data-bs-theme="dark"]) .dropdown-item:hover,
    body:not([data-bs-theme="dark"]) .nav-link:hover {
        background-color: rgba(0, 0, 0, 0.03);
        transition: all 0.2s ease-in-out;
    }
      div.dataTables_filter {
      display: none !important;
    }
    th{
    color: #0054a6 !important;
    }
    th, td {
      max-width: 170px !important;     
      white-space: normal;      
      word-break: break-word;   
      overflow-wrap: break-word; 
      vertical-align: middle;  
    }
    .swal2-container {
        background-color: rgba(0, 0, 0, 0.25) !important;
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(4px);
      }
      .swal2-popup {
        background: rgb(255, 255, 255) !important;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
      }
      .select2-container--default .select2-selection--single .select2-selection__arrow b {
          border-color: #FF0000 transparent transparent transparent !important;
      }
      .tabler-loader {
        animation: spin 1s linear infinite;
        width: 24px;
        height: 24px;
        stroke-width: 2;
        stroke: currentColor;
      }

      @keyframes spin {
        100% { transform: rotate(360deg); }
      }
      .modal-header{
        background-color: #252422;
      }
      /*
      lista de botones*/
    .button {
      text-decoration: none;
      line-height: 1;
      overflow: hidden;
      position: relative;
      box-shadow: rgb(116, 142, 152) 0px 4px 16px -8px;
      background-color: #fff;
      color: #121212;
      border: none;
      cursor: pointer;
    }

    .button-decor {
      position: absolute;
      inset: 0;
      background-color: var(--clr);
      transform: translateX(-100%);
      transition: transform 0.3s;
      z-index: 0;
    }

    .button-content {
      display: flex;
      align-items: center;
      font-weight: 600;
      position: relative;
      overflow: hidden;
      
    }

    .button__icon {
      width: 48px;
      height: 40px;
      background-color: var(--clr);
      display: grid;
      place-items: center;
    }

    .button__text {
      display: inline-block;
      transition: color 0.2s;
      padding: 2px 0.5rem 2px;
      padding-left: 0.75rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .button:hover .button__text {
      color: #fff;
    }

    .button:hover .button-decor {
      transform: translate(0);
    }
