    div.dataTables_filter {
    display: none !important;
    }
    body:not([data-bs-theme="dark"]) .dropdown-item:hover,
    body:not([data-bs-theme="dark"]) .nav-link:hover {
        background-color: rgba(0, 0, 0, 0.03);
        transition: all 0.2s ease-in-out;
    }  
    th{
    color: #0054a6 !important;
    }
    .tabler-loader {
    animation: spin 1s linear infinite;
    width: 24px;
    height: 24px;
    stroke-width: 2;
    stroke: currentColor;
    }

    @keyframes spin {
    100% { transform: rotate(360deg); }
    }
    .list-group-item:hover {
    background-color: #f0f0f5;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    }
    #lista-items {
    max-height: 700px;
    overflow-y: auto;
    border-right: 1px solid #e0e0e0;
    scrollbar-width: none;        
    -ms-overflow-style: none;      
    }

    #lista-items::-webkit-scrollbar {
    display: none;                 
    }
    #dependencia_data td {
      white-space: normal !important;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    
    #dependencia_data {
      border-collapse: collapse;
      border: 1px solid rgb(192, 192, 192); /* borde externo general */
      width: 100%;
    }

    /* Encabezado */
    #dependencia_data thead th {
      background-color: #f8f9fa;
      border-top: none !important;
      border-bottom: 1px solid rgb(192, 192, 192);
      border-left: none !important;
      border-right: 1px solid rgb(192, 192, 192);
      vertical-align: middle;
      text-align: center;
      font-size: 11px;
    }
    #dependencia_data thead th:last-child {
      border-right: none; /* quitar borde derecho en última columna */
    }

    /* Cuerpo: solo líneas horizontales */
    #dependencia_data tbody tr {
      border-top: 1px solid rgb(192, 192, 192); /* 👈 línea por fila */
    }

    #dependencia_data tbody td {
      border-top: none !important;
      border-bottom: none;
      border-left: none !important;
      border-right: 1px solid rgb(192, 192, 192);
      vertical-align: middle;
      text-align: center;
      font-size: 11px;
    }
    #dependencia_data tbody td:last-child {
      border-right: none;
    }

    .selectable {
      user-select: text !important;
      -webkit-user-select: text !important;
      -moz-user-select: text !important;
      -ms-user-select: text !important;
    }
    .dataTables_wrapper .dataTables_paginate {
        margin-top: 30px !important;
    }