body:not([data-bs-theme="dark"]) .dropdown-item:hover,
body:not([data-bs-theme="dark"]) .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.03);
    transition: all 0.2s ease-in-out;
}
.tabler-loader {
animation: spin 1s linear infinite;
width: 24px;
height: 24px;
stroke-width: 2;
stroke: currentColor;
}

@keyframes spin {
100% { transform: rotate(360deg); }
}